body {
    background-color:#227a9f;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: 3px solid black;
    background: #29648A;
    max-width: 400px;
    border-radius: 5px;
}

.todos li {
    background: #390a575a;
    border-top: 3px solid black;
}

.delete {
    cursor: pointer;
    font-size: 150%;
    padding: 2px 20px;
}

.filtered {
    display: none !important;
}

h1{
    color: #25274D;
    font-style: italic;
    font-weight: bold;

}


